/logs/
/generator/
/discriminator/
/data/
/datasets/
/__pycache__/
logs.txt
/temp/
*.gif
temp.py
create_animation.py
/segmentation/
/result/
/result_best/
/result_image/
/result_image_gan/
/segmented_images/
/draw_io_images/